.container{
  background: #dcdce62a;
  min-height: 100vh;
}

.header{
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0,0,0,.15);
}

.header h1{
  color: #333;
  font-size: 20px;
}

.pedidos{
  width: 70%;
  margin: 40px auto;
  height: 500px;
  text-align: center;
  border: 2px solid #dcdce6;
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(0,0,0,.15);
  background: #fff;
}

.pedidos input{
  margin: 20px auto;
}

.pesquisa{
  text-align: center;
  padding: 0px 20px;
  position: relative;
}

.pesquisa a{
  display: block;
  position: absolute;
  top: 16px;
  right: 20px;
  text-decoration: underline;
}

.pedidosHead{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0px 20px;
}

.pedidosHead svg{
  display: block;
  cursor: pointer;
}

.pedidosHead svg:hover{
  fill: #6eb5FF;
}

.metadata{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid #dcdce6;
  border-top: 2px solid #dcdce6;
}

.pedidos h2{
  color: #333;
  padding: 10px;
  border-bottom: 2px solid #dcdce6;
}

.pedido{
  display: flex;
  padding: 10px;
  justify-content: space-between;
  color: #333;
  font-weight: 500;
}

.pedido:hover{
  background: #6eb5FF;
  cursor: pointer;
}
